-j '{"locations":[{"lat":40.744273,"lon":-73.990328,"name":"Mapzen"},{"lat":40.704651,"lon":-73.9361,"name":"CartoDB"}],"costing":"multimodal","directions_options":{"units":"miles"},"costing_options":{"transit":{"use_bus":"0.5","use_rail":"0.6","use_transfers":"0.4"}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lat":40.70523754289766,"lon":-74.01114464155398},{"lat":40.63974890854884,"lon":-74.08361435635015}],"costing":"multimodal","directions_options":{"units":"miles"},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
