-j '{"locations":[{"lat":37.839682,"lon":-122.485284,"name":"Vista Point"},{"lat":37.80927,"lon":-122.25981,"name":"Fairyland"}],"costing":"multimodal","directions_options":{"units":"miles"},"costing_options":{"transit":{"use_bus":"0.5","use_rail":"0.6","use_transfers":"0.4"}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lat":50.095944,"lon":14.418439,"name":"Letenske sady"},{"lat":50.07868,"lon":14.441871,"name":"Riegrovy sady"}],"costing":"multimodal","directions_options":{"units":"miles"},"costing_options":{"transit":{"use_bus":"0.5","use_rail":"0.6","use_transfers":"0.4"}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lat":40.744273,"lon":-73.990328,"name":"Mapzen"},{"lat":40.704651,"lon":-73.9361,"name":"CartoDB"}],"costing":"multimodal","directions_options":{"units":"miles"},"costing_options":{"transit":{"use_bus":"0.5","use_rail":"0.6","use_transfers":"0.4"}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lat":41.907515,"lon":12.455492,"name":"Vatican"},{"lat":41.890841,"lon":12.491025,"name":"Colosseum"}],"costing":"multimodal","directions_options":{"units":"miles"},"costing_options":{"transit":{"use_bus":"0.5","use_rail":"0.6","use_transfers":"0.4"}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lat":39.995533,"lon":-75.304981,"name":"Yards Brewing"},{"lat":39.918162,"lon":-75.158039,"name":"Dalessandro Cheesesteaks"}],"costing":"multimodal","directions_options":{"units":"miles"},"costing_options":{"transit":{"use_bus":"0.5","use_rail":"0.6","use_transfers":"0.4"}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lat":49.194156,"lon":-123.178882,"name":"YVR"},{"lat":49.37223,"lon":-123.098673,"name":"Grouse Mountain Gondola"}],"costing":"multimodal","directions_options":{"units":"miles"},"costing_options":{"transit":{"use_bus":"0.4","use_rail":"0.6","use_transfers":"0.4"}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lat":40.70523754289766,"lon":-74.01114464155398},{"lat":40.63974890854884,"lon":-74.08361435635015}],"costing":"multimodal","directions_options":{"units":"miles"},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
