-j '{"locations":[{"lat":37.839682,"lon":-122.485284,"name":"Vista Point"},{"lat":37.80927,"lon":-122.25981,"name":"Fairyland"}],"costing":"multimodal","directions_options":{"units":"miles"},"costing_options":{"transit":{"use_bus":"0.5","use_rail":"0.6","use_transfers":"0.4"}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lat":50.095944,"lon":14.418439,"name":"Letenske sady"},{"lat":50.07868,"lon":14.441871,"name":"Riegrovy sady"}],"costing":"multimodal","directions_options":{"units":"miles"},"costing_options":{"transit":{"use_bus":"0.5","use_rail":"0.6","use_transfers":"0.4"}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lat":40.744273,"lon":-73.990328,"name":"Mapzen"},{"lat":40.704651,"lon":-73.9361,"name":"CartoDB"}],"costing":"multimodal","directions_options":{"units":"miles"},"costing_options":{"transit":{"use_bus":"0.5","use_rail":"0.6","use_transfers":"0.4"}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lat":41.907515,"lon":12.455492,"name":"Vatican"},{"lat":41.890841,"lon":12.491025,"name":"Colosseum"}],"costing":"multimodal","directions_options":{"units":"miles"},"costing_options":{"transit":{"use_bus":"0.5","use_rail":"0.6","use_transfers":"0.4"}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lat":39.995533,"lon":-75.304981,"name":"Yards Brewing"},{"lat":39.918162,"lon":-75.158039,"name":"Dalessandro Cheesesteaks"}],"costing":"multimodal","directions_options":{"units":"miles"},"costing_options":{"transit":{"use_bus":"0.5","use_rail":"0.6","use_transfers":"0.4"}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lat":49.194156,"lon":-123.178882,"name":"YVR"},{"lat":49.37223,"lon":-123.098673,"name":"Grouse Mountain Gondola"}],"costing":"multimodal","directions_options":{"units":"miles"},"costing_options":{"transit":{"use_bus":"0.4","use_rail":"0.6","use_transfers":"0.4"}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lat":40.70523754289766,"lon":-74.01114464155398},{"lat":40.63974890854884,"lon":-74.08361435635015}],"costing":"multimodal","directions_options":{"units":"miles"},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-122.394935,"lat":37.776348,"type":"break"},{"lon":-121.903173,"lat":37.329231,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-122.394935,"lat":37.776348,"type":"break"},{"lon":-121.883999,"lat":37.31175,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-121.9446515,"lat":38.019507,"type":"break"},{"lon":-122.38666,"lat":37.599787,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-122.418466,"lat":37.752254,"type":"break"},{"lon":-121.900367,"lat":37.701695,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-121.832780698,"lat":37.358275965,"type":"break"},{"lon":-122.037214434,"lat":37.324093554,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-121.760734,"lat":37.299843,"type":"break"},{"lon":-121.810753,"lat":37.327058,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-122.26649,"lat":37.79786,"type":"break"},{"lon":-122.268817,"lat":37.869319,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-122.258931,"lat":37.868826,"type":"break"},{"lon":-122.297787,"lat":37.884573,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-74.191794,"lat":40.533674,"type":"break"},{"lon":-74.073643,"lat":40.643748,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-73.944216,"lat":40.824783,"type":"break"},{"lon":-73.961376,"lat":40.577621,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-74.00647,"lat":40.716633,"type":"break"},{"lon":-74.035202,"lat":40.611843,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-73.926826,"lat":40.619896,"type":"break"},{"lon":-73.931076,"lat":40.668476,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-74.005867,"lat":40.737072,"type":"break"},{"lon":-73.955475,"lat":40.826702,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-73.944534,"lat":40.779755,"type":"break"},{"lon":-73.992546,"lat":40.768192,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-74.171165,"lat":40.560669,"type":"break"},{"lon":-74.178276,"lat":40.526684,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-74.11544,"lat":40.5681,"type":"break"},{"lon":-74.028343,"lat":40.62252,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-73.734749,"lat":40.771725,"type":"break"},{"lon":-73.828537,"lat":40.760021,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-73.829529,"lat":40.761745,"type":"break"},{"lon":-73.735283,"lat":40.718987,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-73.904709,"lat":40.827328,"type":"break"},{"lon":-73.84314,"lat":40.839817,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-73.93856,"lat":40.848492,"type":"break"},{"lon":-73.909531,"lat":40.822971,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-74.02922,"lat":40.73586,"type":"break"},{"lon":-74.06289,"lat":40.73301,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-73.98827,"lat":40.74912,"type":"break"},{"lon":-74.06289,"lat":40.73301,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-122.47883,"lat":37.6606,"type":"break"},{"lon":-122.48312,"lat":37.67604,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-122.232053,"lat":37.48582,"type":"break"},{"lon":-122.416925,"lat":37.638953,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-74.012666,"lat":40.70136,"type":"break"},{"lon":-74.073145,"lat":40.644055,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-74.073145,"lat":40.644055,"type":"break"},{"lon":-74.012666,"lat":40.70136,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-122.434607,"lat":37.792386,"type":"break"},{"lon":-122.390928,"lat":37.734091,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-122.394631,"lat":37.777278,"type":"break"},{"lon":-122.425351,"lat":37.805063,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-84.389407,"lat":33.753346,"type":"break"},{"lon":-84.271222,"lat":33.711531,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-84.448465,"lat":33.651937,"type":"break"},{"lon":-84.471091,"lat":33.588778,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-122.847393,"lat":49.277809,"type":"break"},{"lon":-122.855795,"lat":49.322138,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-123.186028,"lat":49.26367,"type":"break"},{"lon":-123.067725,"lat":49.262833,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-71.095169,"lat":42.348949,"type":"break"},{"lon":-71.153921,"lat":42.347693,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-71.05479665,"lat":42.35176309,"type":"break"},{"lon":-71.103627,"lat":42.124084,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-74.002139,"lat":40.709265,"type":"break"},{"lon":-73.71228,"lat":40.747048,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-73.939307,"lat":40.748682,"type":"break"},{"lon":-73.89329,"lat":40.773573,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-73.624,"lat":41.412,"type":"break"},{"lon":-73.562,"lat":41.814,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-73.977056,"lat":40.752998,"type":"break"},{"lon":-73.937946,"lat":41.705839,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-73.99358,"lat":40.75058,"type":"break"},{"lon":-73.32405,"lat":40.70068,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-118.287308,"lat":33.869339,"type":"break"},{"lon":-118.045128,"lat":34.072189,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-118.391869,"lat":33.949165,"type":"break"},{"lon":-118.188629,"lat":33.769176,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-75.167792,"lat":39.948635,"type":"break"},{"lon":-75.000325,"lat":39.833809,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-75.167792,"lat":39.948635,"type":"break"},{"lon":-75.037141,"lat":39.897609,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-79.406237,"lat":43.745366,"type":"break"},{"lon":-79.277195,"lat":43.766963,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-79.402368,"lat":43.725141,"type":"break"},{"lon":-79.42904,"lat":43.795568,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-122.522659,"lat":37.971092,"type":"break"},{"lon":-122.31739,"lat":37.925526,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-116.951820552349,"lat":33.9232223308761,"type":"break"},{"lon":-116.96615561843,"lat":33.932677871308,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-116.998899906473,"lat":33.9468692130059,"type":"break"},{"lon":-117.008917278643,"lat":33.9440176154221,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-71.0152682367706,"lat":42.0852906746392,"type":"break"},{"lon":-71.0640851643486,"lat":42.2844370483635,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-70.61738533,"lat":42.65857813,"type":"break"},{"lon":-70.6592043,"lat":42.6136316,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-74.0111446,"lat":40.7052375,"type":"break"},{"lon":-74.0836143,"lat":40.6397489,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-117.59545,"lat":33.87843333,"type":"break"},{"lon":-117.5168333,"lat":33.82611667,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-117.59545,"lat":33.87843333,"type":"break"},{"lon":-117.5168333,"lat":33.82611667,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-118.371895,"lat":33.770515,"type":"break"},{"lon":-118.423141,"lat":33.778248,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-118.423141,"lat":33.778248,"type":"break"},{"lon":-118.314545,"lat":33.776356,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-122.523102,"lat":37.971081,"type":"break"},{"lon":-122.603691,"lat":38.00032,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-122.513275,"lat":37.898609,"type":"break"},{"lon":-122.455788,"lat":37.873722,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-79.719198,"lat":43.485887,"type":"break"},{"lon":-79.828892,"lat":43.389191,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-79.6824,"lat":43.4558,"type":"break"},{"lon":-79.71088,"lat":43.479278,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-75.1580556,"lat":39.9525,"type":"break"},{"lon":-75.7636111,"lat":39.9927778,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-75.1902778,"lat":39.9480556,"type":"break"},{"lon":-75.5511111,"lat":39.7372222,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-75.142305,"lat":39.949783,"type":"break"},{"lon":-75.166068,"lat":40.009811,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-75.259689,"lat":39.962161,"type":"break"},{"lon":-75.546186,"lat":39.878706,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":14.244423,"lat":49.839643,"type":"break"},{"lon":14.218474,"lat":49.849991,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":14.488839,"lat":50.350269,"type":"break"},{"lon":14.519666,"lat":50.252818,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-122.303025,"lat":49.135246,"type":"break"},{"lon":-122.255034,"lat":49.155008,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-121.955484,"lat":49.168568,"type":"break"},{"lon":-121.963371,"lat":49.139669,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-121.95,"lat":49.129,"type":"break"},{"lon":-121.976,"lat":49.104,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-125.02627,"lat":49.619319,"type":"break"},{"lon":-125.031328,"lat":49.62128,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-124.998137,"lat":49.692378,"type":"break"},{"lon":-124.923863,"lat":49.672578,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-120.325779,"lat":50.67677,"type":"break"},{"lon":-120.119051,"lat":50.65955,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-120.357331,"lat":50.745253,"type":"break"},{"lon":-120.332802,"lat":50.775441,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-119.444355,"lat":49.882035,"type":"break"},{"lon":-119.631095,"lat":49.828565,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-119.494485,"lat":49.887368,"type":"break"},{"lon":-119.386029,"lat":49.888907,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-124.450119,"lat":49.345888,"type":"break"},{"lon":-123.953189,"lat":49.19172,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-124.052669,"lat":49.236382,"type":"break"},{"lon":-124.450119,"lat":49.345888,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-122.786144,"lat":53.86517,"type":"break"},{"lon":-122.789089,"lat":53.988882,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-122.813641,"lat":53.891281,"type":"break"},{"lon":-122.782284,"lat":53.918698,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-123.110404,"lat":49.747327,"type":"break"},{"lon":-123.132433,"lat":49.740851,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-123.145697,"lat":49.760578,"type":"break"},{"lon":-123.153217,"lat":49.77059,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-123.759515,"lat":49.472326,"type":"break"},{"lon":-123.475114,"lat":49.43376,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-123.759515,"lat":49.472326,"type":"break"},{"lon":-123.475114,"lat":49.43376,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-123.388654,"lat":48.498475,"type":"break"},{"lon":-123.38329,"lat":48.421579,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-123.428139,"lat":48.427636,"type":"break"},{"lon":-123.371536,"lat":48.455318,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-122.928183,"lat":50.159079,"type":"break"},{"lon":-122.95256,"lat":50.113654,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-123.041417,"lat":50.079826,"type":"break"},{"lon":-122.952385,"lat":50.113523,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-121.955484,"lat":49.168568,"type":"break"},{"lon":-122.660324,"lat":49.160786,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
-j '{"locations":[{"lon":-121.955484,"lat":49.168568,"type":"break"},{"lon":-122.660324,"lat":49.160786,"type":"break"}],"costing":"multimodal","costing_options":{"transit":{"use_bus":0.3,"use_rail":0.6,"use_transfers":0.3}},"date_time":{"type":1,"value":"DATE_TIME_TAG"}}'
