[submodule "OSM-binary"]
	path = OSM-binary
	url = https://github.com/scrosby/OSM-binary.git
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/miloyip/rapidjson
[submodule "proto"]
	path = OSMLR
	url = https://github.com/valhalla/osmlr-tile-spec.git
