[submodule "OSM-binary"]
	path = third_party/OSM-binary
	url = https://github.com/scrosby/OSM-binary.git
[submodule "rapidjson"]
	path = third_party/rapidjson
	url = https://github.com/miloyip/rapidjson
[submodule "third_party/dirent"]
	path = third_party/dirent
	url = https://github.com/tronkko/dirent
[submodule "third_party/date"]
	path = third_party/date
	url = https://github.com/HowardHinnant/date.git
