# editor temporary / backup files
*~

# artefacts from autotools
INSTALL
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
config.log
config.status
configure
install-sh
missing
depcomp
Makefile
valhalla/config.h
valhalla/config.h.in
valhalla/stamp-h1
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
libtool

# built objects
valhalla/proto
src/proto
adminbenchmark
pbfgraphbuilder
pbfadminbuilder
connectivitymap
transit_fetcher
transit_stop_query
*.o
.deps/
.dirstamp
*.lo
.libs/
conf/
libvalhalla_mjolnir.la
src/mjolnir/admin_lua_proc.h
src/mjolnir/graph_lua_proc.h
*.bin

# tests
test-suite.log
test-driver
test/test_config
test/edgeinfobuilder
test/uniquenames
test/idtable
test/graphtilebuilder
test/graphbuilder
test/refs
test/graphparser
test/signinfo
test/utrecht
test/*.log
test/*.trs
test/tiles/bin/*
EdgeInfoBuilder_TestWriteRead.gph
AdminInfoBuilder_TestWriteRead.gph

# test coverage stuff
*.gcno
*.gcda
coverage.info
coverage/

# tools
.cproject
.project
.settings

duplicateways.txt
