name: Publish Docker image
on:
  push:
    branches:
      - 'master'
    tags:
      - '*'
    paths-ignore:
      - '.gitignore'
      - '**.md'
      - 'test/'

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'
          fetch-depth: 0
      - name: Extract tag name
        if: startsWith(github.ref, 'refs/tags/')
        run: echo "##[set-output name=tag;]${GITHUB_REF#refs/tags/}"
        id: extract_tag
      - name: Log in to GitHub Docker Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build tagged image
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          docker build -t ghcr.io/valhalla/valhalla:${{ steps.extract_tag.outputs.tag }} .
          docker push ghcr.io/valhalla/valhalla:${{ steps.extract_tag.outputs.tag }}
      - name: Build latest image
        if: github.ref == 'refs/heads/master'
        run: |
          docker build -t ghcr.io/valhalla/valhalla:latest .
          docker push ghcr.io/valhalla/valhalla:latest
