name: Publish Docker image
on:
  push:
    branches:
      - "master"
      - "cb-dev-docker" # TODO remove after testing
    tags:
      - "*"
    paths-ignore:
      - ".circleci"
      - ".github"
      - "!.github/workflows/docker-build.yml"
      - ".gitignore"
      - "**.md"
      - "test/"
      - "test_requests/"
      - "docs/"
      - "**vcpkg**"
      - "run_route_scripts/"
      - ".*"
      - "pyproject.toml"
      - "setup.cfg"
      - "taginfo.json"
  workflow_dispatch:

jobs:
  extract_image_tag: 
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.imgtag.outputs.tag }}

    steps:
      - name: Determine image tag
        id: imgtag
        # if git tag, use that, if manually dispatched use the branch name 
        # else fall back to latest
        run: |
          if [[ "${GITHUB_REF_TYPE}" == "tag" ]]; then
            echo "tag=${GITHUB_REF_NAME}" >> $GITHUB_OUTPUT
          elif [[ "${GITHUB_EVENT_NAME}" == "workflow_dispatch" ]]; then
            echo "tag=${GITHUB_REF_NAME}" >> $GITHUB_OUTPUT
          elif [[ "${GITHUB_REF_NAME}" == "cb-dev-docker" ]]; then
            # custom branch condition for testing (remove before merge)
            echo "tag=cb-dev-docker" >> $GITHUB_OUTPUT
          else
            echo "tag=latest" >> $GITHUB_OUTPUT
          fi
        shell: bash

  build_publish:
    needs: [extract_image_tag]
    strategy:
      matrix:
        variant: [prod, dev]
        os: [ubuntu-latest, ubuntu-24.04-arm]

    if: ${{ github.repository_owner == 'valhalla' }}
    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
        with:
          submodules: "recursive"
          fetch-depth: 0

      - name: Determine platform and tag suffix
        id: vars
        run: |
          if [ "${{ matrix.os }}" = "ubuntu-latest" ]; then
            echo "platform=linux/amd64" >> "$GITHUB_OUTPUT"
            echo "tagsuffix=amd64" >> "$GITHUB_OUTPUT"
            echo "arch=amd64" >> "$GITHUB_OUTPUT"
          else
            echo "platform=linux/arm64" >> "$GITHUB_OUTPUT"
            echo "tagsuffix=arm64" >> "$GITHUB_OUTPUT"
            echo "arch=arm64" >> "$GITHUB_OUTPUT"
          fi

      - name: Set build args 
        id: buildargs
        run: |
          if [ "${{ matrix.variant }}" = "prod" ]; then
            echo "build_args=" >> "$GITHUB_OUTPUT"
            echo "image_name_suffix=" >> "$GITHUB_OUTPUT"
          else
           # Use newlines for multiple build args
            {
              echo "build_args<<EOF"
              echo "ENABLE_TESTS=On"
              echo "INSTALL_TEST_LIB=On"
              echo "BUILD_TYPE=RelWithDebInfo"
              echo "EOF"
            } >> "$GITHUB_OUTPUT"
            echo "image_name_suffix=-dev" >> "$GITHUB_OUTPUT"
          fi
      - name: Debug build args
        run: |
          echo "Build args output:"
          echo "${{ steps.buildargs.outputs.build_args }}"

      - name: Get version modifier
        if: github.ref == 'refs/heads/master'
        run: echo "version_modifier=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
        id: extract_gitsha

      - name: Log in to GitHub Docker Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # the following has to be done sequentially so the "base" image is available 
      # for the "scripted" image
      - name: Build and push - plain image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/Dockerfile
          provenance: false # needed to be able to converge into one image
          platforms: ${{ steps.vars.outputs.platform }}
          push: true
          tags: ghcr.io/valhalla/valhalla${{ steps.buildargs.outputs.image_name_suffix }}:${{ needs.extract_image_tag.outputs.tag }}-${{ steps.vars.outputs.tagsuffix }}
          cache-from: type=gha,scope=${{ steps.vars.outputs.platform }}
          cache-to: type=gha,mode=max,scope=${{ steps.vars.outputs.platform }}
          build-args: |
            VERSION_MODIFIER=${{ steps.extract_gitsha.outputs.version_modifier }}
            ${{ steps.buildargs.outputs.build_args }}

      - name: Build and push - scripted image
        if: ${{ matrix.variant == 'prod' }}
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/Dockerfile-scripted
          provenance: false # needed to be able to converge into one image
          platforms: ${{ steps.vars.outputs.platform }}
          push: true
          tags: ghcr.io/valhalla/valhalla-scripted:${{ needs.extract_image_tag.outputs.tag }}-${{ steps.vars.outputs.tagsuffix }}
          cache-from: type=gha,scope=${{ steps.vars.outputs.platform }}
          cache-to: type=gha,mode=max,scope=${{ steps.vars.outputs.platform }}
          build-args: |
            VERSION_MODIFIER=${{ steps.extract_gitsha.outputs.version_modifier }}
            VALHALLA_BUILDER_IMAGE=ghcr.io/valhalla/valhalla:${{ needs.extract_image_tag.outputs.tag }}-${{ steps.vars.outputs.tagsuffix }}

  create-manifests:
    strategy:
      matrix:
        include:
          - image: valhalla
          - image: valhalla-dev
          - image: valhalla-scripted
    runs-on: ubuntu-latest
    needs: [build_publish, extract_image_tag]
    steps:
      - name: Log in to GitHub Docker Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create and push manifest
        run: |
          docker manifest create \
            ghcr.io/valhalla/${{ matrix.image }}:${{ needs.extract_image_tag.outputs.tag }} \
            --amend ghcr.io/valhalla/${{ matrix.image }}:${{  needs.extract_image_tag.outputs.tag  }}-amd64 \
            --amend ghcr.io/valhalla/${{ matrix.image }}:${{ needs.extract_image_tag.outputs.tag }}-arm64 
          docker manifest push ghcr.io/valhalla/${{ matrix.image }}:${{ needs.extract_image_tag.outputs.tag }}

  test-image:
    if: github.ref == 'refs/heads/master'
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
          - os: ubuntu-24.04-arm
    runs-on: ${{ matrix.os }}
    needs: [create-manifests]
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
        with:
          submodules: ""
          fetch-depth: 1
          
      - name: Log in to GitHub Docker Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Test latest scripted image
        run: |
          docker pull ghcr.io/valhalla/valhalla-scripted:test
          sudo apt-get update > /dev/null
          sudo apt-get install -y moreutils tree > /dev/null
          sudo /bin/bash -c "./docker/test.sh ghcr.io/valhalla/valhalla-scripted:test"
